.menu-icon {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; 
    }
    .nav{
      display: flex;
      justify-content: space-between;
    }
  
    .menu-icon {
      display: block; 
    }
    .menu-iconslo{
      display:none;
    }
  }